group nuget_deps
    source https://api.nuget.org/v3/index.json
    framework: net6.0,netstandard2.1
    storage: none

    nuget Microsoft.NETCore.App.Ref 6.0.5
    nuget NETStandard.Library.Ref 2.1.0

    nuget Newtonsoft.Json 13.0.3
    nuget Moq 4.18.4
    nuget NDesk.Options 0.2.1
