group nuget_deps
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Microsoft.NETCore.App.Ref 6.0.8
    nuget Microsoft.NETCore.App.Runtime.win-x64 6.0.8
    nuget Microsoft.NETCore.App.Runtime.linux-x64 6.0.8
    nuget Microsoft.NETCore.App.Runtime.osx-x64 6.0.8
    nuget NETStandard.Library.Ref 2.1.0
    nuget Newtonsoft.Json 13.0.3
    nuget Moq 4.18.4
    nuget NDesk.Options 0.2.1
