using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("TestService")]
[assembly: AssemblyDescription ("Test service for kRPC client testing")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
