using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("ServiceDefinitions")]
[assembly: AssemblyDescription ("Tool for generating service definitions for kRPC services")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
